---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";

import logos from "../images/deploy-logos.png";
import logosSmall from "../images/deploy-logos-small.png";
---

<Layout title='About ApuntesDev'>
  <Showcase
    heading='Hola Mundo!'
    text='Soy Eva Cebrián y te doy la bienvenida a "ApuntesDev", mi diario personal de aprendizaje en el mundo de la programación. '
  />
  <section class='page-content'>
    <div class='container'>
      <h3>De qué va esto?</h3>
      <p>
        A pesar de llevar poco tiempo en este campo, he decidido documentar y
        compartir cada paso de mi viaje dev.
      </p>
      <p>
        Este blog se centra en dejar apuntes detallados y/o superfluos sobre los
        tutoriales, libros, cursos y cualquier otro recurso educativo que voy
        explorando mientras aprendo a programar.
      </p>

      <div class='card'>
        <h3>Lo que no se escribe se olvida</h3>
        <p>
          Programar no solo implica escribir líneas de código; también requiere
          aprender constantemente nuevas tecnologías, métodos y soluciones a
          problemas complejos. Sin embargo, a medida que avanzamos y enfrentamos
          nuevos desafíos, es fácil olvidar detalles cruciales de lo que
          aprendimos en el pasado.
        </p>
        <p>
          Así, al escribir regularmente sobre lo que aprendemos y
          experimentamos, no solo evitamos que el conocimiento se disipe con el
          tiempo, sino que también construimos un recurso valioso tanto para
          nuestro futuro yo, como para la comunidad de desarrolladores en
          general.
        </p>
      </div>

      <h3>Un espacio para inspirar</h3>
      <img class='logos' src={logos.src} alt='' />
      <img class='logos-small' src={logosSmall.src} alt='' />
      <p>
        Mi objetivo es crear una bitácora que no solo me sirva para reforzar lo
        aprendido, sino que también pueda ayudar a otros que estén empezando en
        este emocionante camino. En "ApuntesDev", encontrarás resúmenes, puntos
        clave, dificultades encontradas y soluciones a problemas que he
        enfrentado. Este enfoque práctico y transparente pretende proporcionar
        una visión realista y útil sobre cómo se desarrolla el aprendizaje en
        programación. Espero que este espacio te inspire y te sea útil tanto
        como a mí, y te invito a acompañarme en este proceso de crecimiento y
        descubrimiento.
      </p>

      <h3>Visita mi Github</h3>
      <p>
        Si te interesa ver los proyectos en los que he estado trabajando, te
        invito a visitar mi perfil de GitHub. Allí encontrarás una variedad de
        repositorios que reflejan mi experiencia y pasión por la programación.
      </p>
    </div>
  </section>
</Layout>

<style>
  <style > .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
