---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";

const post = await Astro.glob("../posts/*.md");

const dark = true;
---

<Layout title='Blog ApuntesDev'>
  <Showcase
    heading='Blog de Apuntes Dev'
    text='Apuntes varios que dejo anotados por aquí.'
  />
  <section class='page-content'>
    <div class='container'>
      {
        post.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.body}</p>
            <a class='btn' href={`/${post.frontmatter.slug}`}>
              Leer mas
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
