---
const featuresData = [
  {
    title: "Apuntes sobre Javascript",
    body: "Anotaciones varias sobre retos de JS",
  },
  {
    title: "Apuntes sobre CSS",
    body: "Ejercicios y tutoriales sobre diseño de paginas web con CSS",
  },
  {
    title: "Apuntes sobre frameworks",
    body: "Apuntes sobre frameworks y librerias como React, Astro, etc",
  },
];
---

<section class='features'>
  <div class='container'>
    {
      featuresData.map((v) => (
        <div class='card'>
          <h3>{v.title}</h3>
          <p>{v.body}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
